<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPad1,1</key>
	<string>6613</string>
	<key>iPad2,1</key>
	<string>6930</string>
	<key>iPad2,2</key>
	<string>6930</string>
	<key>iPad2,3</key>
	<string>6930</string>
	<key>iPad2,4</key>
	<string>6930</string>
	<key>iPad2,5</key>
	<string>4490</string>
	<key>iPad2,6</key>
	<string>4490</string>
	<key>iPad2,7</key>
	<string>4490</string>
	<key>iPad3,1</key>
	<string>11560</string>
	<key>iPad3,2</key>
	<string>11560</string>
	<key>iPad3,3</key>
	<string>11560</string>
	<key>iPad3,4</key>
	<string>11560</string>
	<key>iPad3,5</key>
	<string>11560</string>
	<key>iPad3,6</key>
	<string>11560</string>
	<key>iPad4,1</key>
	<string>8820</string>
	<key>iPad4,2</key>
	<string>8820</string>
	<key>iPad4,3</key>
	<string>8820</string>
	<key>iPad4,4</key>
	<string>6430</string>
	<key>iPad4,5</key>
	<string>6430</string>
	<key>iPad4,6</key>
	<string>6430</string>
	<key>iPad4,7</key>
	<string>6471</string>
	<key>iPad4,8</key>
	<string>6471</string>
	<key>iPad4,9</key>
	<string>6471</string>
	<key>iPad5,3</key>
	<string>7340</string>
	<key>iPad5,4</key>
	<string>7340</string>
	<key>iPhone1,1</key>
	<string>1400</string>
	<key>iPhone1,2</key>
	<string>1150</string>
	<key>iPhone2,1</key>
	<string>1219</string>
	<key>iPhone3,1</key>
	<string>1420</string>
	<key>iPhone3,2</key>
	<string>1420</string>
	<key>iPhone3,3</key>
	<string>1420</string>
	<key>iPhone4,1</key>
	<string>1430</string>
	<key>iPhone5,1</key>
	<string>1424</string>
	<key>iPhone5,2</key>
	<string>1424</string>
	<key>iPhone5,3</key>
	<string>1510</string>
	<key>iPhone5,4</key>
	<string>1510</string>
	<key>iPhone6,1</key>
	<string>1570</string>
	<key>iPhone6,2</key>
	<string>1570</string>
	<key>iPhone7,1</key>
	<string>2915</string>
	<key>iPhone7,2</key>
	<string>1810</string>
	<key>iPod1,1</key>
	<string>900</string>
	<key>iPod2,1</key>
	<string>800</string>
	<key>iPod3,1</key>
	<string>789</string>
	<key>iPod4,1</key>
	<string>929</string>
	<key>iPod5,1</key>
	<string>1030</string>
</dict>
</plist>
