<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatteryLevel</key>
	<array>
		<string>UIStatusBarServer</string>
		<string>getStatusBarData</string>
	</array>
	<key>EnterBackground</key>
	<array>
		<string>sus</string>
		<string>pend</string>
	</array>
	<key>Exit</key>
	<array>
		<string>terminate</string>
		<string>WithSuccess</string>
	</array>
	<key>SaveWallPaper</key>
	<array>
		<string>SBSU</string>
		<string>IWallpap</string>
		<string>erSetIma</string>
		<string>geAsWallpap</string>
		<string>erForLocations</string>
	</array>
	<key>SBUIFrameWork</key>
	<array>
		<string>/System/Library/PrivateFrameworks/Spring</string>
		<string>BoardUI.framework/SpringBoardUI</string>
	</array>
</dict>
</plist>
